<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksAdd</servlet-name>
  	<display-name>BooksAdd</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.BooksAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBooks</servlet-name>
  	<display-name>EditBooks</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.EditBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBooks</servlet-name>
  	<display-name>DeleteBooks</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeleteBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyCart</servlet-name>
  	<display-name>MyCart</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.MyCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBook</servlet-name>
  	<display-name>RemoveBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddOldBook</servlet-name>
  	<display-name>AddOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AddOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOldBook</servlet-name>
  	<display-name>DeleteOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserProfile</servlet-name>
  	<display-name>UpdateUserProfile</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserOrders</servlet-name>
  	<display-name>UserOrders</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserOrders</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAddress</servlet-name>
  	<display-name>UpdateAddress</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdateAddress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBook</servlet-name>
  	<display-name>SearchBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.SearchBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderStatus</servlet-name>
  	<display-name>OrderStatus</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.OrderStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCancel</servlet-name>
  	<display-name>OrderCancel</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.OrderCancel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserOrderCancel</servlet-name>
  	<display-name>UserOrderCancel</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserOrderCancel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<display-name>UpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>quantityIncDec</servlet-name>
  	<display-name>quantityIncDec</display-name>
  	<description></description>
  	<servlet-class>com.DAO.quantityIncDec</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOTP</servlet-name>
  	<display-name>GetOTP</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.GetOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlineConfirmOrder</servlet-name>
  	<display-name>OnlineConfirmOrder</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.OnlineConfirmOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailForgot</servlet-name>
  	<display-name>EmailForgot</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.EmailForgot</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailChangePass</servlet-name>
  	<display-name>EmailChangePass</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.EmailChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BooksAdd</servlet-name>
  	<url-pattern>/BooksAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditBooks</servlet-name>
  	<url-pattern>/EditBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBooks</servlet-name>
  	<url-pattern>/DeleteBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyCart</servlet-name>
  	<url-pattern>/MyCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveBook</servlet-name>
  	<url-pattern>/RemoveBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddOldBook</servlet-name>
  	<url-pattern>/AddOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOldBook</servlet-name>
  	<url-pattern>/DeleteOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserProfile</servlet-name>
  	<url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserOrders</servlet-name>
  	<url-pattern>/UserOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAddress</servlet-name>
  	<url-pattern>/UpdateAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBook</servlet-name>
  	<url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderStatus</servlet-name>
  	<url-pattern>/OrderStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCancel</servlet-name>
  	<url-pattern>/OrderCancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserOrderCancel</servlet-name>
  	<url-pattern>/UserOrderCancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>quantityIncDec</servlet-name>
  	<url-pattern>/quantityIncDec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOTP</servlet-name>
  	<url-pattern>/GetOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlineConfirmOrder</servlet-name>
  	<url-pattern>/OnlineConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailForgot</servlet-name>
  	<url-pattern>/EmailForgot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailChangePass</servlet-name>
  	<url-pattern>/EmailChangePass</url-pattern>
  </servlet-mapping>
</web-app>
